
@model WatermentWebSCADA.ViewModels.MainViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/FacilityDetails.css" rel="stylesheet" />
    <link href="~/Content/DivBootstrap.css" rel="stylesheet" />
</head>

    <div class="container">

        <div class="col-sm-4">
            <div class="frameTitleBiogasFacility">

                @*General info for the specific biogas facility is shown in this div.*@ 

                <h3 align="center">Biogas facility</h3>
            </div>
            <div class="intro" id="style-1">
                <table>
                    <tr>
                        <td class="title"><b>Facility</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.Name

                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>Country</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.locations.countries.Name
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>County </b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.locations.County
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b> Postcode</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.locations.Postcode
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>Address</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.locations.StreetAddress
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>User</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Brukere)
                            {
                                @item.FirstName  @item.LastName
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>Phone number</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Brukere)
                            {
                                @item.PhoneNumber
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b> E-mail</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Brukere)
                            {
                                @item.Email
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>Domain</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.Domain
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>IP</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.IP

                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>Serial No.</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.SerialNumber

                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="title"><b>Software Version</b> </td>
                        <td class="text">
                            @foreach (var item in Model.Facilites)
                            {
                                @item.ProgramVersion

                            }
                        </td>
                    </tr>


                    <tr>
                        <td>
                        @foreach (var item in Model.Facilites)
                        {

                            <button class="btn btn-warning" style="width:150px; margin-top:10px" onclick="location.href='@Url.Action("EditFacilities", new { id = item.Id })';return false;">Edit details</button>


                        }

</td>
                        <td>
                            @foreach (var item in Model.Facilites)
                            {



                                <button class="btn btn-warning" style="width:150px; margin-top:10px" onclick="location.href='@Url.Action("index","Equipment", new { id = item.Id })';return false;">Manage Equipment</button>

                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>




        <div class="col-sm-8">
            <div class="frameTitleFacilityAlarms">
                <h3 align="center">Alarms</h3>
            </div>
            <div class="intro2"id="style-1">
                <div class="row">
                         <table>
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Value</th>
                        <th>Status</th>
                        <th>Tag</th>
                    </tr>
                  
                    @foreach (var item in Model.Alarmer)
                    {

                      
                            <tr>
                                <td>@item.Description</td>
                                <td>@item.AlarmOccured</td>
                                <td>@item.ProcessValue</td>
                                <td>@item.Status</td>
                                <td>@item.equipments.Tag</td>
                               
                            </tr>
                          }
                        
                </table>

                </div>

                



            </div>

        </div>
        <p></p>
        &emsp;

        @*The "Remote Connect " and "Export to Excel" buttons are called in the code below.*@ 

        @foreach (var skill in Model.Facilites)
        {
            <a href="http://@skill.IP/webvisu/webvisu.htm" target="_blank" class="btn btn-success">Remote Connect &raquo;</a>
        }

       
            <div class="dropdown">
                <button class="btn btn-success">Export to Excel</button>
                <div class="dropdown-content">
                    @foreach (var item in Model.Facilites)
            {
                        <b>  @Html.ActionLink("Export Temp Measurements to Excel", "ExportTempMeasurementsToExcel", "Export", new { id = item.Id }, null)</b>
                       <b>  @Html.ActionLink("Export Alarms to Excel", "ExportAlarmsToExcel", "Export", new { id = item.Id }, null)</b>
                         <b>  @Html.ActionLink("Export Bar Measurements to Excel", "ExportBarMeasurementsToExcel", "Export", new { id = item.Id }, null)</b>
                    }
                    
                </div>
            </div>
        </div>


@*Charts with information from the database are shown below.*@

<div class="frame3">
    @*Shows temperature graf*@
    @foreach (var item in Model.Facilites)
    {
        <p><img src="@Url.Action("TempChart",new { id = item.Id})" /></p>
       
    }

</div>


<div class="frame3">
    @*Shows pressure graf*@
    @foreach (var item in Model.Facilites)
    {
        <p><img src="@Url.Action("BarChart",new { id = item.Id})" /></p>

    }


</div>

    <div class="dropdown">
        <button class="btn btn-success">Info to graph</button>
        <div class="dropdown-content">
            @foreach (var item in Model.Utstyr)
            {
                @*<p> @item.Tag</p>*@
                <b>  @Html.ActionLink(item.Tag, "BarChart", "FacilityController", new { id = item.Id, from2 = "21.2.2017" }, null)</b>
 
            }


        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.equipments.Tag, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Alarmer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.equipments.LastCalibrated, "", new { @class = "text-danger" })
        </div>*@
  
       
    
     From: <input type="date" id="myDate" name="date" required>
       
  


    <button onclick="myFunction()">PrintDateButton</button>


    <p id="demo"></p>

 To: <input type="date" id="myDateTo" name="dateto" required>
   
<p id="demo2"></p>
 <script>
     function myFunction() {
         var x = document.getElementById("myDate").value;
         var y = document.getElementById("myDateTo").value;

         @foreach (var item in Model.Utstyr)
    {
           <b>  @Html.ActionLink(, "BarChart", "FacilityController", new { id = item.Id, from2 = document.getElementById("demo").innerHTML }, null)</b>
    }


         var link = '@Html.ActionLink(item.Tag, "BarChart", "FacilityController", new { id = Model..Id, from2 = document.getElementById("demo").innerHTML }, null)</b>
         document.getElementById("demo").innerHTML = x;
         document.getElementById("demo2").innerHTML = y;

     }

    </script>

@d

    <label for="meeting">To : </label><input id="ToDate" type="date" value="2017-01-01" />

































