
@model WatermentWebSCADA.ViewModels.MainViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/FacilityDetails.css" rel="stylesheet" />
    <link href="~/Content/DivBootstrap.css" rel="stylesheet" />
</head>
<style>

}</style>
    <div class="container">
        <div class="col-sm-4">
            <div class="frameTitleBiogasFacility">

                @*General info for the specific biogas facility is shown in this div.*@ 

                <h3 align="center">Biogas facility</h3>
            </div>
            <div class="intro" id="style-1">
                <table>
                  
                    @foreach (var item in Model.Brukere)
                    {
                        <tr> <td><b>User</b></td> <td> @item.FirstName @item.LastName</td> </tr>
                        <tr> <td><b>Phone number</b></td> <td> @item.PhoneNumber</td> </tr>
                        <tr> <td><b>E-mail</b></td> <td>@item.Email</td> </tr>
                    }

                            @foreach (var item in Model.Facilites)
                            {
                            <tr> <td><b>Facility</b></td> <td> @item.Name</td> </tr>
                            <tr> <td><b>Country</b></td> <td> @item.locations.countries.Name</td> </tr>
                            <tr> <td><b>County</b></td> <td> @item.locations.County</td> </tr>
                            <tr> <td><b>Postcode</b></td> <td> @item.locations.Postcode</td> </tr>
                            <tr> <td><b>Adress</b></td> <td> @item.locations.StreetAddress</td> </tr>
                            <tr> <td><b>Domain</b></td> <td> @item.Domain</td> </tr>
                            <tr> <td><b>IP</b></td> <td> @item.IP</td> </tr>
                            <tr> <td><b>Serial No.</b></td> <td>@item.SerialNumber</td> </tr>
                            <tr> <td><b>Software Version</b></td> <td>@item.ProgramVersion</td> </tr>

<tr> <td><button class="btn btn-warning" style="width:150px; margin-top:10px" onclick="location.href='@Url.Action("EditFacilities", new { id = item.Id })';return false;">Edit details</button></td> 
<td><button class="btn btn-warning" style="width:150px; margin-top:10px" onclick="location.href='@Url.Action("index","Equipment", new { id = item.Id })';return false;">Manage Equipment</button></td> </tr>


                            }
                     
                </table>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="frameTitleFacilityAlarms">
                <h3 align="center">Alarms</h3>
            </div>
            <div class="intro2"id="style-1">
                <div class="row">
                         <table>
                    <tr>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Value</th>
                        <th>Status</th>
                        <th>Tag</th>
                    </tr>
                  
                    @foreach (var item in Model.Alarmer)
                    {
                            <tr>
                                <td>@item.Description</td>
                                <td>@item.AlarmOccured</td>
                                <td>@item.ProcessValue</td>
                                <td>@item.Status</td>
                                <td>@item.equipments.Tag</td>
                               
                            </tr>
                          }
                        
                </table>

                </div>
            </div>

        </div>
        <p></p>
        &emsp;

        @*The "Remote Connect " and "Export to Excel" buttons are called in the code below.*@ 

        @foreach (var skill in Model.Facilites)
        {
            <a href="http://@skill.IP/webvisu/webvisu.htm" target="_blank" class="btn btn-success">Remote Connect &raquo;</a>
        }

        <div class="dropdown">
            <button class="btn btn-success">Export to Excel</button>
            <div class="dropdown-content">
                @foreach (var item in Model.Facilites)
            {

                    <b>  @Html.ActionLink("Export Alarms to Excel", "ExportAlarmsToExcel", "Export", new { id = item.Id }, null)</b>

                    foreach (var eq in Model.Utstyr)
                    {
                        <b>  @Html.ActionLink(eq.Tag + " "+ eq.Description + " to Excel", "ExportMeasurementsToExcel", "Export", new { id = item.Id, TagID = eq.Tag }, null)</b>
                    }

                }

            </div>
        </div>
        </div>


@*Charts with information from the database are shown below.*@

<div class="frame3">
    @*Shows temperature graf*@
    @foreach (var item in Model.Facilites)
    {
        <p><img src="@Url.Action("TempChart",new { id = item.Id})" /></p>
       
    }

</div>

<div class="frame3">
      @foreach (var item in Model.Facilites)
    {

        using (Html.BeginForm("ValueChart","Facility", new { id = item.Id }, FormMethod.Post))
        {

 <select name="txtTags">
    @foreach (var tag in Model.Utstyr)
    {
                   <option value="@tag.Tag">@tag.Tag @tag.Description</option>
          
            }
  </select>

        <b>From:</b>
        @Html.TextBox("txtFrom", "",new { type="date", required = "required" })
      
        <b>To:</b>
        @Html.TextBox("txtTo", "", new { type = "date",required = "required" })

        <input type="submit" value="Draw Graph" class="buttonDrawGraph" />

        }
    }
</div>





























