
@model WatermentWebSCADA.ViewModels.MainViewModel

@{
    ViewBag.Title = "FacilityOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .intro {
            background-color: lightgreen;
            color: black;
            margin: 20px 0 20px 0;
            padding: 20px;
            border-radius: 25px;
        }

        .vv {
            background-color: rgb(187, 181, 181);
            color: white;
            margin: 20px 0 20px 0;
            padding: 20px;
            border-radius: 25px;
        }

        .intro {
            background-color: lightgreen;
            color: black;
            margin: 20px 0 20px 0;
            padding: 20px;
            border-radius: 25px;
        }


        .headerDivider {
            border-left: 5px solid #38546d;
            border-right: 5px solid #16222c;
            height: 80px;
            position: absolute;
            right: 249px;
            top: 10px;
        }

        .main {
            background-color: black;
            color: red;
            margin: 20px 0 20px 0;
            padding: 20px;
        }

        .frame {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#FFFFFF',GradientType=0 );
            /*width: auto;*/
            height: 350px;
            opacity: 1;
            border-radius: 6px;
            background-color: rgb(229, 217, 148);
            box-shadow: 0px 2px 0px #FFFFFF inset, 0px -2px 0px #ffffff inset,0px 0px 1px 1px #DDD;
            padding: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: 2px;
            margin-left: 2px;
            overflow-y: scroll;
            position: relative;
            background-size: 100% 100px;
            background-repeat: no-repeat;
        }
             .frame1 {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#FFFFFF',GradientType=0 );
            /*width: auto;*/
            height: 350px;
            opacity: 1;
            border-radius: 6px;
            background-color: rgb(238, 237, 208);
            box-shadow: 0px 2px 0px #FFFFFF inset, 0px -2px 0px #ffffff inset,0px 0px 1px 1px #DDD;
            padding: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: 1px;
            margin-left: 1px;
            position: relative;
            background-size: 100% 100px;
            background-repeat: no-repeat;
        }
             .button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;

}
             .button2	 {
        background-color: rgb(171,194,122);
        color: black;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px
        
    }
             .button2:hover{background-color: rgb(180,210,130);}
    
    .large-btn {
        width:  650px;
        height: 60px;
    }

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

        .r1 {
            width: 25%;
            float: left;
        }

        .r2 {
            width: 25%;
            float: right;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 20px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        h1 {
            font-weight: bolder;
        }
    </style>
</head>



<div class="container">
    <div class="col-lg-4">
      
            <div class="frame">
            <h4 align="center" style="border-bottom:solid">Countries with facilities</h4>

            <div class="row">

                    @foreach (var item in Model.countries)
                      {
              <ul>
                <li style="font-size:large">@Html.ActionLink(item.Name, "FacilityOverview", new { id = item.Id })</li>
               </ul>


                        }

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="frame">

                <h4 align="center"style="border-bottom:solid">Facilities</h4>

                @foreach (var item in Model.Facilites)
            {

            
               

                <a href='@Url.Action("FacilityDetails", "Facility", new { id = item.Id })' class="btn button2 large-btn">@item.Name</a>

              

                }

         


                </div>
            </div>


<div align="left">

<div style="margin-left: 30px; margin-top:10px;">
    <button class="btn btn-default" style="width:175px" onclick="location.href='@Url.Action("AddLocation")';return false;">Add new facility</button>
</div>
<div style="margin-left: 30px; margin-top:10px;">
    <button class="btn btn-default" style="width:175px" onclick="location.href='@Url.Action("Maintenance")';return false;">Maintenance</button>
</div>
</div>

