<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Waterment SCADA by Bachelor 1337 t34m</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />



  

</head>
<body style="background-color:rgb(171,194,122)">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(94,110,60)">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Waterment SCADA", "Index", "MainSite", new { area = "" }, new { @class = "navbar-brand" })
                @*@Html.ActionLink("Overview", "Index", "MainSite", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Facilities", "FacilityOverview", "Facility", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("User management", "FacilityOverview", "Facility", new { area = "" }, new { @class = "navbar-brand"})
                @Html.ActionLink("About", "About", "MainSite", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Overview", "Index", "MainSite")</li>
                        <li>@Html.ActionLink("Facilities", "FacilityOverview", "Facility")</li>
                        <li>@Html.ActionLink("User management", "FacilityOverview", "Facility")</li>
                        <li>@Html.ActionLink("About", "About", "MainSite")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color:rgb(94,110,60);height: 40px; width:100%">
            <p style="color:white">&copy; @DateTime.Now.Year - Waterment Web SCADA by awsome people. </p>
        </footer>
    </div>


   
</body>
</html>