<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Waterment SCADA by Bachelor 1337 t34m</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />



    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script src="~/scripts/modernizr-2.8.3.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/JQChart.js"></script>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body style="background-color:rgb(171,194,122)">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: rgb(94,110,60)">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                   
                    
                </button>
                @Html.ActionLink("Waterment SCADA", "", "", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Owerview", "Index", "MainSite", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Facilites", "FacilityOverview", "Facility", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("User management", "FacilityOverview", "Facility", new { area = "" }, new { @class = "navbar-brand"})
                @Html.ActionLink("About", "Abou", "MainSite", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div>
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="modal-footer">
            <p style="color:white">&copy; @DateTime.Now.Year - Waterment Web SCADA by awsome people. </p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>