@model WatermentWebSCADA.Models.equipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>equipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SIUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCalibrated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCalibrated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facilities.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilities.IP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
