@model IEnumerable<WatermentWebSCADA.ViewModels.UsersAndRolesVM>
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/UserManagement.css" rel="stylesheet" />
</head>

<div>
    <h2>User Management</h2>
    <div class="row">
        <div class="col-md-2">
            <div class="frameTitle">
                <h3 align="center">Actions</h3>
            </div>
            <div class="row" margin-top="25px" margin-bottom="25px">
                <div class="col-md-12">
                    <a class="buttonAction" href="~/Account/Register">Add user</a>
                </div>
            </div>
            <div class="row" margin-top="25px" margin-bottom="25px">
                <div class="col-md-12">
                        <a class="buttonAction" href="~/UserManagement/UserFacility">Facility ownership</a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="frameTitle">
                <h3 align="center">Sessions</h3>
            </div>
            <div class="col-md-pull-12">
                <div class="introsmaller">
                    <p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="frameTitle">
                <h3 align="center">Connections</h3>
            </div>
            <div class="col-md-pull-12">
                <div class="introsmaller">
                    <p>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="frameTitle">
                <h3 align="center">Roles</h3>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="intro">
                        <div class="container">
                            <div class="button">
                                <p>Admin</p>
                                <p>SuperUser</p>
                                <p>Maintenance</p>
                                <p>User</p>
                                <p>Guest</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="frameTitle">
                <h3 align="center">Registrated Users</h3>
            </div>
            <div class="col-md-pull-12">
                <div class="intro">
                        <table class="table table-hover, hoverTable tr:hover">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoleName)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr onclick="getElementById('edit-1').click()" style="cursor: pointer">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", new { id=item.UserId})">@Html.DisplayFor(modelItem => item.UserName)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                </tr>
                            }

                        </table>
                </div>
            </div>
        </div>
    </div>
</div>




