@model WatermentWebSCADA.ViewModels.UserAndFacilityLinkVM

@{
    ViewBag.Title = "LinkUserAndFacility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Link a user and facility</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(m => m.SelectedUserNameId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedUserNameId", ViewData["Users"] as SelectList, new { @class = "dropdown" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedFacilityId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedFacilityId", ViewData["Facilities"] as SelectList, new { @class = "dropdown" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
