@model WatermentWebSCADA.ViewModels.UserAndFacilityLinkVM

@{
    ViewBag.Title = "LinkUserAndFacility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LinkUserAndFacility</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserAndFacilityVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(m => m.SelectedUserNameId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedUserId", ViewData["Users"] as SelectList, new { @class = "dropdown" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SelectedFacilityId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedFacilityId", ViewData["Facilities"] as SelectList, new { @class = "dropdown" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LinkUserAndFacility" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
