@model IEnumerable<WatermentWebSCADA.ViewModels.UserAndFacilityVM>

@{
    ViewBag.Title = "UserFacility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Facility Owners</h2>


<div>
    <div class="row">
        @*@Html.LabelFor(model => model.UserName, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.FacilityId, new { @class = "form-control" })
        @Html.HiddenFor(model => Model.CustomerID)*@
        <div class="col-md-12">
            <div class="container">
                <div class="container">
                </div>
                <select class="selectpicker" data-live-search="true">
                    <option data-tokens="Nice work">Would be nice to get this to work</option>
                    <option data-tokens="little">Thought there is little time</option>
                    <option data-tokens="gaupgass metahne">Gaupgass is the no 1 leading methane production</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" href="~/UserManagement/Link">Link an user with a facility</a>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FacilityName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FacilityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </table>
            <a class="btn btn-success" href="~/UserManagement/Index/">Back</a>
        </div>
    </div>
</div>

