 @model IEnumerable<WatermentWebSCADA.ViewModels.MainViewModel> 


@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.DisplayNameFor(model => model.)
    <h1>Waterment Biogass</h1>
   

<div class="container">
    <div>
                <div class="col-sm-2">
            <h3>Område</h3>
                    @foreach(var item in Model)
                    {


                        @*@Html.Display(model => model.Name)*@
                    }
            @foreach (var item in Model)
            {
              
                
                     @*<p>@Html.ActionLink(item,"1", "MainSite/Index", new { area = "" }, new { @class = "brand"})</p>*@
              
            }
       </div>
        </div>
        <div class="col-sm-2">
            <h3>Land</h3>
            @foreach (var item in Model)
            {
                @Html.DisplayNameFor(model => model.Name)

            }

        </div>
    <div class="col-sm-2">
        <h3>Anlegg</h3>
        @foreach (var item in Model)
            {
            @Html.DisplayNameFor(model => model.Name)
        }

    </div>



        <div class="col-sm-2">
            <h3>Status</h3>
           <p>@Html.DisplayNameFor(model => model.Name)</p>

           
            
        </div>
        <div class="col-sm-2">
            <h3>IP</h3>
           @Html.DisplayNameFor(model => model.Name)
     
        </div>
        <div class="col-sm-2">
            <h3>Planed maintanace</h3>
           @Html.DisplayNameFor(model => model.CountryName)
         
        </div>
      </div>
       



