@model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <h1>Waterment Biogass</h1>
   

<div class="container">
    <div>
                <div class="col-sm-2">
            <h3>Område</h3>
                    @*@foreach(var item in Model)
                    {

                        item.County
                            item.CountryName
                    }*@
            @foreach (var item in Model.County)
            {
               <p>@Html.ActionLink(item,"1", "MainSite/Index", new { area = "" }, new { @class = "brand"})</p>
              
            }
       </div>
        </div>
        <div class="col-sm-2">
            <h3>Land</h3>
            @foreach (var item in Model.CountryName)
            {
                <p>@Html.ActionLink(item, "167", "MainSite/Index/1", new { area = "" }, new { @class = "brand" })</p>
                
            }

        </div>
    <div class="col-sm-2">
        <h3>Anlegg</h3>
        @foreach (var item in Model.Name)
            {
            <p>@Html.ActionLink(item, "167", "MainSite/Index/1", new { area = "" }, new { @class = "brand" })</p>
        }

    </div>



        <div class="col-sm-2">
            <h3>Status</h3>
           <p>@Model.Description</p>

           
            
        </div>
        <div class="col-sm-2">
            <h3>IP</h3>
            @foreach (var item in Model.IP)
            {
                <p>@item</p>
            }
     
        </div>
        <div class="col-sm-2">
            <h3>Planed maintanace</h3>
            @foreach (var item in Model.Name)
            {
               <p>@item</p> 
            }
         
        </div>
      </div>
       



