@model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Justere linjeavtand, justere avstand i margin på tittel og tekst*@
@* nacsjfcnjnvcjkVNwsnvjSKDNVJKnvjkNVKJnvjkdnSVEWJV *@
<head>
    <link href="~/Content/MainSiteIndex.css" rel="stylesheet" />
</head>
<body style="margin:1px">
    <div class="container">
            <font color="#5E6E3C"><h1>Waterment Webscada application</h1></font>
            <p class="pText">
                Welcome to the Waterment overview! This page gives general info of the biogas facilities,
                status of the facilities and all active alarms. There is also a hyperlink to each facility
                in the status table which shows detailed info of the facility.
            </p>
        </div>
        <div class="col-lg-4">
            <div class="frameTitle" id="style-1">
                <h3 align="center">General info</h3>
            </div>
            <div class="frame" id="style-1">
                <div class="row">
                    <table>
                        <tr>
                            <td class="title" style=""><b>No. of facilities</b> </td>
                            <td class="text">@Model.NumberOfFacilities</td>
                        </tr>
                        <tr>
                            <td class="title"><b>No. of facilities online</b> </td>
                            <td class="text">@Model.NumberOnline</td>
                        </tr>
                        <tr>
                            <td class="title"><b>No. of facilities offline</b> </td>
                            <td class="text">@Model.NumberOffline</td>
                        </tr>
                        <tr>
                            <td class="title"><b>No. of active alarms</b></td>
                            <td class="text">@Model.noAlarms</td>
                        </tr>
                    </table>
                </div>

            </div>
            
            
        </div>
        <div class="col-lg-8">
            <div class="frameTitle" id="style-1">
                <h3 align="center">Status</h3>
            </div>
            <div class="frame" id="style-1">
                <table class="table table-hover, hoverTable tr:hover">
                    <tr>
                        <th>Facility</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.Facilites)
                    {

                        <tr onclick="getElementById('edit-1').click()" style="cursor: pointer">

                            <td><b>@Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, new { @style = "color:rgb(140,150,80);" })</b></td>
                            <td>@item.locations.City</td>
                            <td>@item.FacilityStatus.Name</td>

                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="frameTitle" id="style-1">
                <h3 align="center">Active alarms</h3>
            </div>
            <div class="frame" id="style-1">
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Alarm</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Tag</th>
                    </tr>

                    @foreach (var item in Model.Alarms)
                    {

                        foreach (var item2 in Model.Facilites.Where(c => c.Id == item.equipments_facilities_Id))
                        {
                            <tr>
                                <td>@item2.Name</td>
                                <td>@item.AlarmOccured</td>
                                <td>@item.ProcessValue</td>
                                <td>@item.Description</td>
                                <td>@item.equipments.Tag @item.equipments.Description </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</body>


