 @model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <style>
        .intro {
                background-color: lightgreen;
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
     border-radius: 25px;
     
        }
        


        .frame {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#FFFFFF',GradientType=0 );
  /*width: auto;*/
  height: 350px;
  opacity: 1;
  border-radius: 6px;
  background-color:rgb(238, 237, 208);
  box-shadow: 0px 2px 0px #FFFFFF inset, 0px -2px 0px #ffffff inset,0px 0px 1px 1px #DDD;
  padding:20px;
  margin-top:25px;
  margin-bottom:25px;
  margin-right:25px;
  margin-left:25px;
  overflow-y:scroll;
  position:relative;
}
.frame {
	background-size:100% 100px;
	background-repeat:no-repeat;
}
.r1 {
    width: 25%;
    float: left    
}
.r2{
    width: 25%;
    float: right;

}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
h1{
    font-weight:bolder;
}
</style>
    
</head>

    <h1 align ="center">Overvievw</h1>
   
<div class="container">
       <div class="col-lg-6">
           <div class="frame">
             <h3 align ="center" >Status</h3>
      
               <div class="row">
                   <table>
                       <tr>
                           <th>Facility</th>
                           <th>Location</th>
                           <th>Status</th>
                       </tr>
                       @foreach (var item in Model.Facilites)
                       {

                           <tr>
                               <td>@Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, null)</td>
                               <td>@item.locations.countries</td> 
                               <td>@item.locations.City</td> 
                           </tr> 

                       }
                   </table>
           </div>
               
               </div>
      

       
            <div class="frame">
            <h3 align =" center">Anlegg med høy alarm</h3>
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Alarm</th>
                        <th>Process value</th>
                        <th>Description</th>
                    </tr>
                    @foreach (var item in Model.Facilites)
                    {

                        <tr>
                            <td>@item.locations.facilities</td>
                            <td>@item.equipments.</td>
                            <td>@item</td>
                            <td>@item.equipments</td>
                        </tr>

                    }
                </table>

                </div>
       
    </div>

       <div class="col-lg-6">
            <div class="frame">
            <h3 align =" center">Dato vedlikeholdt</h3>
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Location</th>
                        <th>Last maintenance</th>
                    </tr>
                    @foreach (var item in Model.Vedlikehold)
                    {

                        <tr>
                            <td>@item.facilities.Name</td>
                            <td>@item.facilities.locations.City</td>
                            <td>@item.lastMaintenance</td>
                        </tr>

                    }
                </table>

                </div>
    <div class="frame">
        <h3 align ="center">Info</h3>
        <table>
            <tr>
                <th>Anleggsnavn</th>
                <th>Plassering</th>
                <th>Status</th>
            </tr>
            @foreach (var item in Model.Facilites)
            {

                <tr>
                    <td>@Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, null)</td>
                    <td>@item.Domain</td>
                    <td>554</td>
                </tr>

            }
        </table>

    </div>
    </div>
     
    </div>



