@model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <h1>Waterment Biogass</h1>
   

<div class="container">
    <div class="table-bordered">
                <div class="col-sm-2">
            <h3>Facilities</h3>
            @foreach (var item in Model.Address)
            {

                @Html.ActionLink(item, "Index", item);
                <a>@item</a>
            }
       </div>
        </div>
        <div class="col-sm-2">
            <h3>Not Started</h3>
         <p>telemarlk</p>

        </div>
        <div class="col-sm-2">
            <h3>High Alarm</h3>
            @foreach (var item in Model.IP)
            {
                <p>@item</p>
            }
            
        </div>
        <div class="col-sm-2">
            <h3>Mantanace due</h3>
            @foreach (var item in Model.CountryName)
            {
                <p>@item</p>
            }
     
        </div>
        <div class="col-sm-2">
            <h3>Planed maintanace</h3>
            @foreach (var item in Model.Name)
            {
               <p>@item</p> 
            }
         
        </div>
      
        </div>



