 @model WatermentWebSCADA.ViewModels.MainViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <style>
        .intro {
                background-color: lightgreen;
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
     border-radius: 25px;
     
        }
        

        .headerDivider {
     border-left:5px solid #38546d; 
     border-right:5px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}
.main{
     background-color: black;
    color: red;
    margin: 20px 0 20px 0;
    padding: 20px;
}
        .frame {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDDDDD', endColorstr='#FFFFFF',GradientType=0 );
            /*width: auto;*/
            height: 350px;
            opacity: 1;
            border-radius: 5px;
            background-color: rgb(229, 217, 148);
            box-shadow: 0px 2px 0px #FFFFFF inset, 0px -2px 0px #ffffff inset,0px 0px 1px 1px #DDD;
            padding: 20px;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-right: 25px;
            margin-left: 25px;
            overflow-y: scroll;
            overflow-y:auto;
            position: relative;
            background-size: 100% 100px;
            background-repeat: no-repeat;
            
        }
          
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

        #style-1::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: rgb(171,194,122);
        }

.r1 {
    width: 25%;
    float: left    
}
.r2{
    width: 25%;
    float: right;

}
       
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
h1{
    font-weight:bolder;
}
</style>
    
</head>
<div>
    <h1 align="center">Overview</h1>
</div>
    
   
<div class="container">
       <div class="col-lg-6">
           <div class="frame" id="style-1">
             <h3 align ="center" >Status</h3>
      
               <div class="row">
                   <table>
                       <tr>
                           <th>Facility</th>
                           <th>Location</th>
                           <th>Status</th>
                       </tr>
                       @foreach (var item in Model.Facilites)
                       {

                           <tr>
                               <td>@Html.ActionLink(item.Name, "FacilityDetails", "Facility", new { id = item.Id }, null)</td>
                              <td>@item.locations.City</td>
                                <td>@item.FacilityStatus.Name</td> 
                             @item.m
                           </tr> 

                       }
                   </table>
           </div>
               
               </div>
      

       
            <div class="frame" id="style-1">
            <h3 align ="center">Facilities with active alarms</h3>
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Alarm</th>
                        <th>Value</th>
                        <th>Description</th>
                    </tr>
                  
                    @foreach (var item in Model.AlarmList)
                    {

                        foreach (var item2 in Model.Facilites.Where(c => c.Id == item.equipments_facilities_Id))
                        {
                            <tr>
                                <td>@item2.Name</td>
                                <td>@item.Status</td>
                                <td>@item.ProcessValue</td>
                                <td>@item.Description</td>
                            </tr>

                        }
                      }
                        
                </table>

                </div>
       
    </div>

       <div class="col-lg-6">
            <div class="frame" id="style-1">
            <h3 align =" center">Maintenance</h3>
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Location</th>
                        <th>Last maintenance</th>
                    </tr>
                    @foreach (var item in Model.Vedlikehold)
                    {

                        <tr>
                            <td>@Html.ActionLink(item.facilities, "FacilityDetails", "Facility", new { id = item.facilities_Id }, null)</td>
                            <td>@item.facilities.locations.City</td>
                            <td>@item.lastMaintenance</td>
                        </tr>

                    }
                </table>

                </div>
    <div class="frame" id="style-1">

        <h3 align ="center">General info</h3>

            <table>
                <tr>
                    <td class="title" style=""><b>Nr. of facilities</b> </td>
                    <td class="text">@Model.antallFacilities</td>
                </tr>
                <tr>
                    <td class="title"><b>Nr. of facilities online</b> </td>
                    <td class="text">@Model.antallOnline</td>
                </tr>
                <tr>
                    <td class="title"><b>Nr. of facilities offline</b> </td>
                    <td class="text">@Model.antallOffline</td>
                </tr>
                <tr>
                    <td class="title"><b>Nr. of active alarms</b></td>
                    <td class="text">@Model.noAlarms</td>
                </tr>
            </table> 
                
              
                

                
</dl>

</div>
    </div>
     
    </div>



