@model WatermentWebSCADA.ViewModels.EquipmentAddVM

@{
    
    Layout = "~/Views/Shared/_Layout_scripts.cshtml";
}


            @using (Html.BeginForm("CreateEquipment", "Equipment", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                    <legend>Equipment</legend>
                    <table width="100%">
                        
                        <tr>
                            <td>@Html.LabelFor(model => model.Tag)</td>
                            <td>
                                @Html.EditorFor(model => model.Tag)
                                @Html.ValidationMessageFor(model => model.Tag)
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.SIUnits)</td>
                            <td>
                                @Html.EditorFor(model => model.SIUnits)
                                @Html.ValidationMessageFor(model => model.SIUnits)
                            </td>

                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Description)</td>
                            <td>
                                @Html.EditorFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            </td>

                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.LastCalibrated)</td>
                            <td>
                                @Html.EditorFor(model => model.LastCalibrated)
                                @Html.ValidationMessageFor(model => model.LastCalibrated)
                            </td>

                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.InstallDate)</td>
                            <td>
                                @Html.EditorFor(model => model.InstallDate)
                                @Html.ValidationMessageFor(model => model.InstallDate)
                            </td>

                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.TypeSpecification)</td>
                            <td>
                                @Html.EditorFor(model => model.TypeSpecification)
                                @Html.ValidationMessageFor(model => model.TypeSpecification)
                            </td>

                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Manufacturer)</td>
                            <td>
                                @Html.EditorFor(model => model.Manufacturer)
                                @Html.ValidationMessageFor(model => model.Manufacturer)
                            </td>

                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.facilities_Id)</td>
                            <td>
                                @Html.EditorFor(model => model.facilities_Id)
                                @Html.ValidationMessageFor(model => model.facilities_Id)
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" id="btnSave" name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                    <span class="ui-button-text">Save</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    }




