@model WatermentWebSCADA.ViewModels.EquipmentVM

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EquipmentVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastCalibrated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastCalibrated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeSpecification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeSpecification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.facilities_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facilities_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
