@model IEnumerable<WatermentWebSCADA.ViewModels.EquipmentVM>

@{
    ViewBag.Title = "Equipment";
    Layout = "~/Views/Shared/_Layout_scripts.cshtml";
}

<head>
    <link href="~/Content/MainSiteIndex.css" rel="stylesheet" />

</head>
<body> @*Shows the equipment for the respective facility in which the user is located*@
       
    <div class="frameTitle" id="style-1" style="margin-left:15px;margin-right:40px;">
        <h3 align="center">All Equipments for the facility</h3>
    </div>
       

        <div id="modal-container" class="modal fade"
             tabindex="-1" role="dialog">
            <div class="modal-content">

            </div>
        </div>
        <div class="col-lg-12">

            <div class="frame" id="style-1">
                <table>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Tag)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SIUnits)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastCalibrated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InstallDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Manufacturer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeSpecification)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SIUnits)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastCalibrated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InstallDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manufacturer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeSpecification)
                            </td>
                         
                        </tr>
                        

                    }


                </table>


            </div>

        </div>
    <div>
        @foreach (var item in Model)
        {
            <tr><td><button class="btn btn-success" style="width:150px; margin-left:15px;" onclick="location.href='@Url.Action("CreateEquipment", "Equipment", new { id = item.facilities_Id })';return false;">Add Equipment</button></td> </tr>
            @Html.ActionLink("Back", "FacilityDetails", "Facility", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-success", @style = "color:white" })
            break;
        }
        
    </div>

    @*<div style="margin-left: 15px;">@Html.ActionLink("Add Equipment", "CreateEquipment", "Equipment", null, "", "", Model, new { @class = "modal-link btn btn-success" })</div>*@

</body>

    <div id="dialog-edit" style="display: none">
    </div>
    <div id="dialog-view" style="display: none">
    </div>


@*<script src="~/scripts/jquery-3.1.1.js"></script>
<script src="~/scripts/modernizr-2.8.3.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
@Scripts.Render("~/bundles/jquery")*@