@model WatermentWebSCADA.ViewModels.MaintenanceViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<head>
    <link href="~/Content/MainSiteIndex.css" rel="stylesheet" />
    <style>
    </style>

</head>
<body style="margin:1px">
    <div class="container">
        <div class="col-lg-12">

            <div class="frameTitle" id="style-1">
                <h3 align="center">Maintenance</h3>
            </div>
            <div class="frame" id="style-1">
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Location</th>
                        <th>Last maintenance</th>
                        <th>Responsible person</th>
                        <th>Description</th>
                    </tr>
                    @foreach (var item in Model.Maintenance)
                    {
                        <tr>
                            <td>@item.facilities.Name</td>
                            <td>@item.facilities.locations.City</td>
                            <td>@item.LastMaintenance.Value.ToShortDateString()</td>
                            <td>@item.Person</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </table>

            </div>
           
        </div>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" style="width:175px; margin-left:30px" onclick="location.href='@Url.Action("MaintenanceEdit")';return false;">Add maintenance</button>
    </div>
    

</body>


